affine==2.4.0
av==13.0.0
axial-positional-embedding==0.2.1
babel==2.16.0
black==23.3.0
cebra==0.4.0
cffconvert==2.0.0
click-plugins==1.1.1
cligj==0.7.2
codespell==2.3.0
colorama==0.4.6
contourpy==1.2.1
coverage==7.5.4
Deprecated==1.2.14
df3dPostProcessing==1.0
dm_control==1.0.23
dm-env==1.6
dm-tree==0.1.8
docopt==0.6.2
docutils==0.21.2
einops==0.4.0
etils==1.5.2
exceptiongroup==1.2.1
execnet==2.1.1
Farama-Notifications==0.0.4
flygym==1.0.1
fqdn==1.5.1
furo==2024.8.6
glfw==2.7.0
gymnasium==0.29.1
hdf5storage==0.1.19
hdmf==3.14.2
ikpy==3.4.2
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
intel-openmp==2021.4.0
isoduration==20.11.0
Jinja2==3.1.4
joblib==1.4.2
jsonpointer==3.0.0
jsonschema==4.23.0
labmaze==1.0.6
licenseheaders==0.8.8
literate-dataclasses==0.0.6
llvmlite==0.43.0
local-attention==1.4.4
mbstrdecoder==1.1.3
mediapy==1.2.2
mkl==2021.4.0
mujoco==3.2.3
nbsphinx==0.9.4
nlb-tools==0.0.3
numba==0.60.0
numpy==1.23.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pandas==1.5.3
patool==1.12
product-key-memory==0.1.10
pydata-sphinx-theme==0.9.0
Pygments==2.18.0
pykwalify==1.8.0
pynwb==2.8.1
PyOpenGL==3.1.7
pytest==7.4.4
pytest-benchmark==4.0.0
pytest-sphinx==0.5.0
pytest-timeout==2.3.1
pytest-xdist==3.6.1
rasterio==1.3.11
reformer-pytorch==1.4.4
ruff==0.6.7
scikit-learn==1.2.2
scipy==1.10.1
shapely==2.0.6
sktime==0.16.1
snuggs==1.4.7
Sphinx==7.4.7
sphinxcontrib-googleanalytics==0.4
sphinx-autodoc-typehints==1.19.0
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx_design==0.6.0
sphinx-gallery==0.10.1
sphinx-tabs==3.4.5
sphinx-togglebutton==0.3.2
tbb==2021.13.0
tokenize-rt==6.0.0
tqdm==4.64.1
typepy==1.3.1
typing_extensions==4.12.2
uri-template==1.3.0
webcolors==24.8.0
absl-py==2.1.0
alembic==1.14.0
annotated-types==0.7.0
asttokens==2.4.1
astunparse==1.6.3
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.8
colorlog==6.9.0
comm==0.2.2
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
docker-pycreds==0.4.0
eval_type_backport==0.2.2
executing==2.0.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.2.0
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.33.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.65.4
h2o==3.46.0.4
h5py==3.11.0
idna==3.7
importlib_metadata==8.2.0
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
Mako==1.3.8
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.2.1
oauthlib==3.2.2
optuna==4.1.0
opt-einsum==3.3.0
packaging==24.1
parso==0.8.4
patsy==0.5.6
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
plotly==5.24.1
prompt_toolkit==3.0.47
protobuf==3.19.6
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.10.5
pydantic_core==2.27.2
pygame==2.6.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
PyYAML==6.0.2
pyzmq==26.1.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
seaborn==0.13.2
sentry-sdk==2.19.2
setproctitle==1.3.4
setuptools==72.1.0
six==1.16.0
smmap==5.0.2
SQLAlchemy==2.0.37
stack-data==0.6.3
statsmodels==0.14.2
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.1
traitlets==5.14.3
urllib3==2.2.2
wandb==0.19.2
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zipp==3.19.2
